<% @card_body_class = 'p-0' %>

<% content_for :card_header do %>
  <h3 class="mb-0">Category: <%= @category.name %></h3>
<% end %>

<div class="list-group list-group-flush">
  <% @items.each do |item| %>
    <%= link_to item.name, item, class: 'list-group-item list-group-item-action' %>
  <% end %>
</div>

<% content_for :card_footer do %>
  <% if user_signed_in? %>
    <%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-secondary' %>
  <% end %>
  <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
<% end %>
