<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="<%= root_url %>">
    <i class="fas fa-bug fa-fw fa-lg"></i>
    <%= site_name %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item<%= ' active' if current_page? root_url %>">
        <a class="nav-link" href="<%= root_url %>">
          <i class="fas fa-fw fa-home"></i>
          主页
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tag/">
          <i class="fas fa-fw fa-tags"></i>
          标签
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">
          <i class="fas fa-fw fa-search"></i>
          搜索
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          分类
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to categories_url, class: 'dropdown-item' + (current_page?(categories_url) ? ' active' : '') do %>
            <i class="fas fa-fw fa-folder"></i>
            All categories
          <% end %>
          <% Category.all.each do |category| %>
            <%= link_to category.name, category, class: 'dropdown-item' + (current_page?(category_url(category)) ? ' active' : '') %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/atom.xml">
          <i class="fas fa-fw fa-rss"></i>
          RSS
        </a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/about">
          <i class="fas fa-fw fa-info-circle"></i>
          关于
        </a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-user"></i>
            <%= current_user.username %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
              <i class="fas fa-fw fa-key"></i>
              Change password
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
              <i class="fas fa-fw fa-sign-out-alt"></i>
              Logout
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'nav-link' do %>
            <i class="fas fa-fw fa-sign-in-alt"></i>
            Login
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
